<a href="https://colab.research.google.com/github/SRINIVAS-BANOTHU/Pyspark-practice/blob/main/creating_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName("Spark DF").getOrCreate()

In [3]:
#creating df
data=[(1,"srinivas"),(2,"sri")]
df=spark.createDataFrame(data=data)
df.show()

+---+--------+
| _1|      _2|
+---+--------+
|  1|srinivas|
|  2|     sri|
+---+--------+

In [4]:
df.printSchema()

root
 |-- _1: long (nullable = true)
 |-- _2: string (nullable = true)

In [5]:
#creating df with schema
data=[(1,"srinivas"),(2,"sri")]
df=spark.createDataFrame(data=data,schema=["id","name"])
df.show()

+---+--------+
| id|    name|
+---+--------+
|  1|srinivas|
|  2|     sri|
+---+--------+

In [6]:
#creating schema with custom data types
from pyspark.sql.types import*
schema=StructType([
    StructField(name="id",dataType=IntegerType()),
    StructField(name="name",dataType=StringType())
])
data=[(1,"srinivas"),(2,"sri")]
df=spark.createDataFrame(data=data,schema=schema)
df.show()
df.printSchema()

+---+--------+
| id|    name|
+---+--------+
|  1|srinivas|
|  2|     sri|
+---+--------+

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)

In [7]:
#creating df with dictionary type. it takes schema by inbuilt as it is akey value pair
data=[{"id":1,"name":"sri"},{"id":2,"name":"srinivas"}]
df=spark.createDataFrame(data=data)
df.show()
df.printSchema()

+---+--------+
| id|    name|
+---+--------+
|  1|     sri|
|  2|srinivas|
+---+--------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)