<a href="https://colab.research.google.com/github/SRINIVAS-BANOTHU/Pyspark-practice/blob/main/Reading_Data_From_CSV_File_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
#reading single csv file
df=spark.read.format('csv').option('header','true').option('path','/content/drive/MyDrive/Colab Notebooks/Data/read operations/Employee1.csv').load()
df.show()
df.printSchema()

+---+-----+------+------+
| id| name|gender|salary|
+---+-----+------+------+
|101|  sri|  male| 10000|
|102|arjun|  male| 15000|
+---+-----+------+------+

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)

In [23]:
#to detect datatype automatically we use "inferschema"
df=spark.read.format('csv').option('header','true').option('inferschema','true').option('path','/content/drive/MyDrive/Colab Notebooks/Data/read operations/Employee2.csv').load()
df.show()
df.printSchema()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|103|  Abhi|female| 12000|
|104|lahari|female| 13000|
+---+------+------+------+

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

In [24]:
#reading 2 files into spark
from pyspark.sql.types import*
schema=StructType([
    StructField(name="Id",dataType=IntegerType()),
    StructField(name="Name",dataType=StringType()),
    StructField(name="gender",dataType=IntegerType()),
    StructField(name="Salary",dataType=IntegerType())
])
df=spark.read.csv(path=['/content/drive/MyDrive/Colab Notebooks/Data/read operations/Employee1.csv','/content/drive/MyDrive/Colab Notebooks/Data/read operations/Employee2.csv'],header=True,schema=schema)
df.show()
df.printSchema()

+---+------+------+------+
| Id|  Name|gender|Salary|
+---+------+------+------+
|103|  Abhi|  NULL| 12000|
|104|lahari|  NULL| 13000|
|101|   sri|  NULL| 10000|
|102| arjun|  NULL| 15000|
+---+------+------+------+

root
 |-- Id: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- gender: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [25]:
#creating temp view. by creating temporary view we can perform sql operations directly on dataframe.
df.createOrReplaceTempView("emp")

In [26]:
spark.sql('select Id,Name,Salary from emp where Salary>10000').show()

+---+------+------+
| Id|  Name|Salary|
+---+------+------+
|103|  Abhi| 12000|
|104|lahari| 13000|
|102| arjun| 15000|
+---+------+------+