<a href="https://colab.research.google.com/github/SRINIVAS-BANOTHU/Pyspark-practice/blob/main/Reading_Data_From_CSV_File.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField,IntegerType,StringType
import pyspark.sql.functions as func

In [ ]:
spark=SparkSession.builder.appName("FirstApp").getOrCreate()

In [ ]:
people=spark.read.format("csv").option("path","/content/drive/MyDrive/titanic.csv").option('header','True').load()

In [ ]:
people.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|    0|    0|          373450|   8.05| NULL|       S|
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|          330877| 8.4583| NULL|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|   2|    3|    1|          349909| 21.075| NULL|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|    0|    2|          347742|11.1333| NULL|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|          237736|30.0708| NULL|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|    0|    0|       A/5. 2151|   8.05| NULL|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|    1|    5|          347082| 31.275| NULL|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|    0|    0|          350406| 7.8542| NULL|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|    0|    0|          248706|     16| NULL|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|    4|    1|          382652| 29.125| NULL|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|          244373|     13| NULL|       S|
|         19|       0|     3|Vander Planke, Mr...|female|  31|    1|    0|          345763|     18| NULL|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|NULL|    0|    0|            2649|  7.225| NULL|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [20]:
output=people.select(people.PassengerId,\
                     people.Name,\
                     people.Age,\
                     people.Sex)\
                     .where(people.Age>40)\
                     .withColumn("insert_ts",func.current_timestamp())\
                     .orderBy(people.PassengerId)

In [21]:
output.show()

+-----------+--------------------+----+------+--------------------+
|PassengerId|                Name| Age|   Sex|           insert_ts|
+-----------+--------------------+----+------+--------------------+
|        111|Porter, Mr. Walte...|  47|  male|2025-01-05 09:52:...|
|        117|Connors, Mr. Patrick|70.5|  male|2025-01-05 09:52:...|
|         12|Bonnell, Miss. El...|  58|female|2025-01-05 09:52:...|
|        125|White, Mr. Perciv...|  54|  male|2025-01-05 09:52:...|
|        130|  Ekstrom, Mr. Johan|  45|  male|2025-01-05 09:52:...|
|        133|Robins, Mrs. Alex...|  47|female|2025-01-05 09:52:...|
|        150|Byles, Rev. Thoma...|  42|  male|2025-01-05 09:52:...|
|        151|Bateman, Rev. Rob...|  51|  male|2025-01-05 09:52:...|
|        153|    Meo, Mr. Alfonzo|55.5|  male|2025-01-05 09:52:...|
|        156|Williams, Mr. Cha...|  51|  male|2025-01-05 09:52:...|
|         16|Hewlett, Mrs. (Ma...|  55|female|2025-01-05 09:52:...|
|        161|Cribb, Mr. John H...|  44|  male|2025-01-05 09:52:...|
|        168|Skoog, Mrs. Willi...|  45|female|2025-01-05 09:52:...|
|        171|Van der hoef, Mr....|  61|  male|2025-01-05 09:52:...|
|        175|Smith, Mr. James ...|  56|  male|2025-01-05 09:52:...|
|        178|Isham, Miss. Ann ...|  50|female|2025-01-05 09:52:...|
|        188|"Romaine, Mr. Cha...|  45|  male|2025-01-05 09:52:...|
|        195|Brown, Mrs. James...|  44|female|2025-01-05 09:52:...|
|        196|Lurette, Miss. Elise|  58|female|2025-01-05 09:52:...|
|        198|Olsen, Mr. Karl S...|  42|  male|2025-01-05 09:52:...|
+-----------+--------------------+----+------+--------------------+
only showing top 20 rows