<a href="https://colab.research.google.com/github/SRINIVAS-BANOTHU/Pyspark-practice/blob/main/Show_func_parameters.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName("pyspark_test").getOrCreate()

In [5]:
#creating DF
data=[(1,"akdbasjnbaifgeofiaebfkjjs"),(2,"WWDBkwndbwioqwhwoihiwdoqwhkjdbd"),
      (3,"oihkjwdbiafgiseugfiefbwufhwu"),(4,"ugfkjebfwieufgwiufbiufgferiufg")]
schema=["id","name"]
df=spark.createDataFrame(data,schema)

In [6]:
df.show()

+---+--------------------+
| id|                name|
+---+--------------------+
|  1|akdbasjnbaifgeofi...|
|  2|WWDBkwndbwioqwhwo...|
|  3|oihkjwdbiafgiseug...|
|  4|ugfkjebfwieufgwiu...|
+---+--------------------+

by default show() shows only 20 charecters per column as shown above
and it displays only 20 records by default

In [8]:
#to print all characters we use parameter "truncate"
df.show(truncate=False)

+---+-------------------------------+
|id |name                           |
+---+-------------------------------+
|1  |akdbasjnbaifgeofiaebfkjjs      |
|2  |WWDBkwndbwioqwhwoihiwdoqwhkjdbd|
|3  |oihkjwdbiafgiseugfiefbwufhwu   |
|4  |ugfkjebfwieufgwiufbiufgferiufg |
+---+-------------------------------+

In [9]:
#to print only n charecters
df.show(truncate=8)

+---+--------+
| id|    name|
+---+--------+
|  1|akdba...|
|  2|WWDBk...|
|  3|oihkj...|
|  4|ugfkj...|
+---+--------+

In [10]:
#to show only 2 records we use parameter "n"
df.show(n=3,truncate=False)

+---+-------------------------------+
|id |name                           |
+---+-------------------------------+
|1  |akdbasjnbaifgeofiaebfkjjs      |
|2  |WWDBkwndbwioqwhwoihiwdoqwhkjdbd|
|3  |oihkjwdbiafgiseugfiefbwufhwu   |
+---+-------------------------------+
only showing top 3 rows

In [11]:
df.show(n=3,truncate=False,vertical=True)

-RECORD 0-------------------------------
 id   | 1
 name | akdbasjnbaifgeofiaebfkjjs
-RECORD 1-------------------------------
 id   | 2
 name | WWDBkwndbwioqwhwoihiwdoqwhkjdbd
-RECORD 2-------------------------------
 id   | 3
 name | oihkjwdbiafgiseugfiefbwufhwu
only showing top 3 rows