<a href="https://colab.research.google.com/github/SRINIVAS-BANOTHU/Pyspark-practice/blob/main/splitFunction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField,StringType,IntegerType

In [27]:
spark=SparkSession.builder.appName("Split").getOrCreate()

In [14]:
data=[(1,"srinu@gmail.com"),(2,"pavan@hotmail.com")]
schema=StructType([StructField("Id",IntegerType()),\
                   StructField("Domain",StringType())])
df=spark.createDataFrame(data,schema)
df.show()

+---+-----------------+
| Id|           Domain|
+---+-----------------+
|  1|  srinu@gmail.com|
|  2|pavan@hotmail.com|
+---+-----------------+

'chema=StructType([StructField("id",IntegerType(),True),                   StructField("name",StringType(),True),                   StructField("salary",IntegerType(),True)])'

In [23]:
from pyspark.sql.functions import split
(df.select(split(df.Domain,'@',0).alias("splitted"))).show()

+--------------------+
|            splitted|
+--------------------+
|  [srinu, gmail.com]|
|[pavan, hotmail.com]|
+--------------------+

In [25]:
(df.select(split(df.Domain,'@',0).getItem(1).alias("company_code"))).show()

+------------+
|company_code|
+------------+
|   gmail.com|
| hotmail.com|
+------------+

In [29]:
from os import truncate
from pyspark.sql.functions import current_timestamp
from datetime import datetime
data=[("srinivas",datetime.now()),("pavan",datetime.now())]
schema=["name","timestamp"]
df1=spark.createDataFrame(data,schema)
df1.show(truncate=False)

+--------+--------------------------+
|name    |timestamp                 |
+--------+--------------------------+
|srinivas|2025-02-17 07:02:10.726197|
|pavan   |2025-02-17 07:02:10.7262  |
+--------+--------------------------+

In [33]:
from pyspark.sql.functions import date_format
formatted_df=df1.withColumn("date_string",date_format(df1.timestamp,"dd MMMM"))
formatted_df.show(truncate=False)

+--------+--------------------------+-----------+
|name    |timestamp                 |date_string|
+--------+--------------------------+-----------+
|srinivas|2025-02-17 07:02:10.726197|17 February|
|pavan   |2025-02-17 07:02:10.7262  |17 February|
+--------+--------------------------+-----------+