<a href="https://colab.research.google.com/github/SRINIVAS-BANOTHU/Pyspark-practice/blob/main/struct_Type_And_Field.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField,StringType,IntegerType

In [2]:
spark=SparkSession.builder.appName('practice').getOrCreate()

In [4]:
data=[(1,"sri",30000),(2,"srinu",25000)]
schema=StructType([StructField("id",IntegerType(),True),\
                   StructField("name",StringType(),True),\
                   StructField("salary",IntegerType(),True)])
df=spark.createDataFrame(data,schema)
df.printSchema()
df.show()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)

+---+-----+------+
| id| name|salary|
+---+-----+------+
|  1|  sri| 30000|
|  2|srinu| 25000|
+---+-----+------+

In [5]:
#complex column nested column names
data=[(1,("sri","nayak"),30000),(2,("srinu","nayak"),25000)]
structName=StructType([StructField("first_name",StringType()),\
                       StructField("last_name",StringType())])
schema=StructType([StructField("id",IntegerType(),True),\
                   StructField("name",structName,True),\
                   StructField("salary",IntegerType(),True)])
df=spark.createDataFrame(data,schema)
df.printSchema()
df.show()

root
 |-- id: integer (nullable = true)
 |-- name: struct (nullable = true)
 |    |-- first_name: string (nullable = true)
 |    |-- last_name: string (nullable = true)
 |-- salary: integer (nullable = true)

+---+--------------+------+
| id|          name|salary|
+---+--------------+------+
|  1|  {sri, nayak}| 30000|
|  2|{srinu, nayak}| 25000|
+---+--------------+------+