<a href="https://colab.research.google.com/github/SRINIVAS-BANOTHU/Pyspark-practice/blob/main/With_Column_func.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StringType as type

In [2]:
spark=SparkSession.builder.appName("withcolumn").getOrCreate()

In [3]:
#creating df
data=[(1,"srinivas","30000"),(2,"sri","25000")]
schema=["id","name","salary"]
df=spark.createDataFrame(data,schema)
df.printSchema()
df.show()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: string (nullable = true)

+---+--------+------+
| id|    name|salary|
+---+--------+------+
|  1|srinivas| 30000|
|  2|     sri| 25000|
+---+--------+------+

In [4]:
#altering salary datatype with "withColumn" func
df_dataType=df.withColumn("salary",df["salary"].cast("Integer"))
df_dataType.printSchema()
df_dataType.show()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)

+---+--------+------+
| id|    name|salary|
+---+--------+------+
|  1|srinivas| 30000|
|  2|     sri| 25000|
+---+--------+------+

In [5]:
#updating salary by multiplying salary with 2 using "withColumn" func
df_salary=df_dataType.withColumn("salary",df_dataType["salary"]*2)
df_salary.show()

+---+--------+------+
| id|    name|salary|
+---+--------+------+
|  1|srinivas| 60000|
|  2|     sri| 50000|
+---+--------+------+

In [6]:
#adding new column
from pyspark.sql.functions import lit
df_column=df.withColumn("dept",lit("asset"))
df_column.show()

+---+--------+------+-----+
| id|    name|salary| dept|
+---+--------+------+-----+
|  1|srinivas| 30000|asset|
|  2|     sri| 25000|asset|
+---+--------+------+-----+