<a href="https://colab.research.google.com/github/SRINIVAS-BANOTHU/Pyspark-practice/blob/main/with_Column_Renamed().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName("withcolumn").getOrCreate()

In [4]:
#creating df
data=[(1,"srinivas",30000),(2,"sri",25000)]
schema=["id","name","salary"]
df=spark.createDataFrame(data,schema)
df.printSchema()
df.show()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)

+---+--------+------+
| id|    name|salary|
+---+--------+------+
|  1|srinivas| 30000|
|  2|     sri| 25000|
+---+--------+------+

In [6]:
df1=df.withColumnRenamed("salary","Renamed_salary")
df1.show()

+---+--------+--------------+
| id|    name|Renamed_salary|
+---+--------+--------------+
|  1|srinivas|         30000|
|  2|     sri|         25000|
+---+--------+--------------+